{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load blog_tags %}

{% load static %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'css/news_page.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="container content-container">
	<!-- Display the page heading -->
	<h2>News</h2>
	{% for article in articles %}
	<div class="news-item container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h3><a href="{% pageurl article %}">{{ article.title }}</a></h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<!-- Display the image scaled to a width of 400 pixels: -->
				{% image article.cover width-200 %}
			</div>
			<div class="col-md-10">
				<!-- Display the intro text -->
				<p>{{ article.intro }}</p>
				<a href="{% pageurl article %}">Read more...</a>
			</div>
		</div>
	</div>
	{% empty %}
	<p>No news items to display.</p>
	{% endfor %}
</div>
{% endblock %}

