{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load blog_tags %}

{% load static %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'css/news_page.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="container content-container">
	<article>
		<h2>{{ page.title }}</h2>
		<div>
			<a>{{ page.owner.get_full_name|default:page.owner }}</a>
			<span>{{ page.date|date:"N d, Y" }}</span>
		</div>
		<div class="row">
			<div class="col-md-8">
				<!-- Display the intro text -->
				<p>{{ page.body }}</p>
			</div>
			<div class="col-md-4">
				<!-- Display the image scaled to a width of 400 pixels: -->
				{% image page.cover width-200 %}
			</div>
		</div>
	</article>
</div>
{% endblock %}

