{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% load static %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'css/content_page.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="container content-container">
	<div class="row">
		<div class="col-md-12">
			<!-- Display the page heading -->
			<h1>{{ page.heading }}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<!-- Display the text for the page -->
			<p>{{ page.body|richtext }}</p>
		</div>
		<div class="col-md-4">
			<!-- Display the image scaled to a width of 400 pixels: -->
			{% image page.main_img width-400 %}
		</div>
	</div>
</div>
{% endblock %}

