{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% load static %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'css/home_page.css' %}">
{% endblock extra_css %}

{% block content %}
	<div id="banner-img"> 
		{% image page.banner width-800 %}
	</div>

	<div class="container content-container">
		{# Display the page heading #}
		<h1>{{ page.heading }}</h1>

		{# Display the text for the page #}
		<p>{{ page.body|richtext }}</p>
	</div>
{% endblock %}

