{% load i18n wagtailcore_tags %}

<header class="header" role="banner">
  <div class="logo">
	  <h1>Demo charity</h1>
  </div>
  <div class="header-link">
	  <h2>Welcome</h2>
  </div>
</header>
<main class="main">
  <div class="figure">
    <svg class="figure-space" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300" aria-hidden="true">
      <path class="egg" fill="currentColor" d="M150 250c-42.741 0-75-32.693-75-90s42.913-110 75-110c32.088 0 75 52.693 75 110s-32.258 90-75 90z"/>
      <ellipse fill="#ddd" cx="150" cy="270" rx="40" ry="7"/>
    </svg>
  </div>
  <div class="main-text">
    <h1>{% trans "Welcome to your new Wagtail site!" %}</h1>
    <p>{% trans 'Please feel free to <a href="https://github.com/wagtail/wagtail/wiki/Slack">join our community on Slack</a>, or get started with one of the links below.' %}</p>
  </div>
  <div>
  {% block content %}
      {{ page.body|richtext }}
  {% endblock %}
  </div>
</main>
<footer class="footer" role="contentinfo">
  <a class="option option-one" href="{% wagtail_documentation_path %}/">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"><path d="M9 21c0 .5.4 1 1 1h4c.6 0 1-.5 1-1v-1H9v1zm3-19C8.1 2 5 5.1 5 9c0 2.4 1.2 4.5 3 5.7V17c0 .5.4 1 1 1h6c.6 0 1-.5 1-1v-2.3c1.8-1.3 3-3.4 3-5.7 0-3.9-3.1-7-7-7zm2.9 11.1l-.9.6V16h-4v-2.3l-.9-.6C7.8 12.2 7 10.6 7 9c0-2.8 2.2-5 5-5s5 2.2 5 5c0 1.6-.8 3.2-2.1 4.1z"/></svg>
    <div>
      <h4>{% trans "Wagtail Documentation" %}</h4>
      <p>{% trans "Topics, references, & how-tos" %}</p>
    </div>
  </a>
  <a class="option option-two" href="{% wagtail_documentation_path %}/getting_started/tutorial.html">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z"/></svg>
    <div>
      <h4>{% trans "Tutorial" %}</h4>
      <p>{% trans "Build your first Wagtail site" %}</p>
    </div>
  </a>
  <a class="option option-three" href="{% url 'wagtailadmin_home' %}">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"><path d="M0 0h24v24H0z" fill="none"/><path d="M16.5 13c-1.2 0-3.07.34-4.5 1-1.43-.67-3.3-1-4.5-1C5.33 13 1 14.08 1 16.25V19h22v-2.75c0-2.17-4.33-3.25-6.5-3.25zm-4 4.5h-10v-1.25c0-.54 2.56-1.75 5-1.75s5 1.21 5 1.75v1.25zm9 0H14v-1.25c0-.46-.2-.86-.52-1.22.88-.3 1.96-.53 3.02-.53 2.44 0 5 1.21 5 1.75v1.25zM7.5 12c1.93 0 3.5-1.57 3.5-3.5S9.43 5 7.5 5 4 6.57 4 8.5 5.57 12 7.5 12zm0-5.5c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm9 5.5c1.93 0 3.5-1.57 3.5-3.5S18.43 5 16.5 5 13 6.57 13 8.5s1.57 3.5 3.5 3.5zm0-5.5c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2z"/></svg>
    <div>
      <h4>{% trans "Admin Interface" %}</h4>
      <p>{% trans "Create your superuser first!" %}</p>
    </div>
  </a>
</footer>
